<mat-toolbar color="primary" fxLayout="row" fxLayoutGap="20px">
  <button type="button" mat-button (click)="onToggleSidenav()" fxHide.gt-sm>
    <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
  </button>
  <button mat-button [routerLink]="['/']">My Fitness App</button>
  <div class="navs" fxFlex fxLayoutAlign="end end" fxHide.lt-sm>
    <a [routerLink]="['/signup']" *ngIf="!isAuth">
      Sign Up
    </a>
    <a [routerLink]="['/login']" *ngIf="!isAuth">
      Login
    </a>
    <a [routerLink]="['/training']" *ngIf="isAuth">
      Training
    </a>
    <a *ngIf="isAuth" (click)="onLogout()">
      Logout
    </a>
  </div>
</mat-toolbar>
