<mat-toolbar color="primary" fxLayout="row" fxLayoutGap="20px">
    <button type="button" mat-button (click)="onToggleSidenav()" fxHide.gt-sm>
        <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
    </button>
    <button mat-button [routerLink]="['/']">
        My Fitness App
    </button>
    <div class="navs" fxFlex fxLayoutAlign="end end" fxHide.sm>
        <a [routerLink]="['/signup']">Sign Up</a>
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Training</a>
    </div>
</mat-toolbar>