<div class="welcome" 
    fxLayout.gt-sm="row" 
    fxLayout.lg="column" 
    fxLayoutGap="15px"
    fxFlexAlign="center center">
        
    <section>
        <h2>Activities</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat modi non amet voluptate, ex exercitationem et labore! Mollitia, dolore, velit molestiae porro voluptate iure quo quia tempora odit delectus omnis.</p>
    </section>
    <section>
        <h2>Challenges</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dicta odit veniam numquam, quia molestiae eum necessitatibus dolor excepturi rerum officiis voluptatum dignissimos cumque est consequatur culpa magnam! Saepe, accusantium?</p>
    </section>
    <section>
        <h2>Communities</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto nihil facere saepe maxime reprehenderit! Culpa dolore officia odit eum a odio animi voluptatum, assumenda eligendi beatae non magni quas laudantium!</p>
    </section>
</div>